.content {
    font-family:sans-serif;
    text-align: center;
    margin: auto; 
    font-size: 80px;
  }

  #current {
    padding-top: 20px;
    font-size: 150px;
  }

  #current_wind {
    padding-top: 30px;
  }

  #sun {
    padding-top: 100px;
  }

  
  .prediction  {
    border-collapse:collapse;
    border-spacing:0;
    margin:0px auto;
  }
  .prediction td {
    border-color:transparent;
    border-style:hidden;
    overflow:hidden;
    padding:100px 25px;
    word-break:normal;
  }
  .prediction .tg-0lax{
    text-align:center;
    vertical-align:top
  }
